.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
button {
	margin: 5px;
}

.list {
	text-align: left;
}

li {
	margin-top: 20px;
}

.name {
	font-size: 1.5rem;
}

.desc {
	font-size: 1.2rem;
	margin-bottom: 30px;
}

.delete {
	color: red;
	width: 100px;
}

.edit {
	color: blue;
	text-transform: uppercase;
	width: 100px;
}

.moveUp {
	width: 100px;
}
.moveDown {
	width: 100px;
}

.answerQuestion {
	font-weight: bold;
	width: 100px;
	height: 50px;
	color: green;
}

.viewAnswers {
	font-weight: 700;
	width: 100px;
	height: 50px;
	color: purple;
}

.viewAnswers:hover .answerQuestion:hover .edit:hover {
	background-color: rgb(230, 230, 106);
}

ul {
	padding-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	max-width: 80rem;
	margin: auto;
}

li {
	border: solid;
	border-width: 1px;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
/* 
li:hover {
	background-color: rgba(46, 46, 46, 0.055);
} */

.nameAndDesc {
	height: 6rem;
}
