.editField {
	border-style: dashed;
	padding: 1rem;
	margin: 1rem;
}

.question {
	width: 500px;
}

.longAnswer {
	height: 50px;
	width: 300px;
}

.answers {
	display: block;
}

.remove {
	color: red;
}
.save {
	color: green;
}
