.newField {
	width: 100px;
}

.save {
	width: 100px;
}

.goBack {
	width: 100px;
}

.buttons {
	padding: 20px;
}
.addMore {
	margin: 5px 0px 0px 0px;
}

body {
	text-align: center;
}

.questionToAnswer {
	text-align: center;
	width: auto;
}
