.backButton {
	width: 100px;
	margin-top: 40px;
}

.singleQuestion {
	margin: 30px;
}

.inputBoxShort {
	width: 300px;
}

.inputBoxLong {
	width: 300px;
	height: 100px;
}

.labelOneAnswer {
	display: block;
	margin: 12px;
}

body {
	text-align: center;
	margin: auto;
}
